<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gridx03">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".utils.NotificationUtils"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GridX03">
        <activity
            android:name=".Activities.GeyserNavigationActivity"
            android:theme="@style/Theme.GridX03.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".Activities.RechargeActivity"
            android:theme="@style/Theme.GridX03.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".Activities.StatsNavigationActivity"
            android:theme="@style/Theme.GridX03.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/Theme.GridX03.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GridX03.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Sevices.BLEService" >

        </service>
    </application>

</manifest>